@font-face {
  src: url('./../fonts/OpenSans/OpenSansRegular400.ttf');
  font-family: 'OpenSans';
}

@font-face {
  src: url('./../fonts/OpenSans/OpenSansLight300.ttf');
  font-family: 'OpenSansLight';
}

@font-face {
  src: url('./../fonts/OpenSans/OpenSansBold700.ttf');
  font-family: 'OpenSansBold';
}

@font-face {
  src: url('./../fonts/OpenSans/OpenSansSemiBold600.ttf');
  font-family: 'OpenSansSemiBold';
}

@font-face {
  src: url('./../fonts/OpenSans/OpenSansExtraBold800.ttf');
  font-family: 'OpenSansExtraBold';
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'OpenSans', sans-serif;
  scroll-behavior: smooth;
}

.h_background {
  background-image: url('../assets/images/background.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: 190%;
}

nav img {
  margin-top: 10px;
  margin-left: 70px;
  transition: all 0.5s;
}

nav {
  /* position: fixed; */
  height: 80px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
  transition: all 0.5s;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  margin-left: 25px;
  text-transform: uppercase;
  font-size: 16px;
}

a.active,
a:hover {
  color: red;
  transition: 0.5s;
}

nav svg {
  width: 40px;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
  margin-right: 2%;
  transition: all 2s;
}

#standat,
#ease {
  font-family: 'OpenSansExtraBold', sans-serif;
  font-weight: 800;
  font-size: 96px;
  display: inline-block;
  position: relative;
  top: 120px;
  left: 60px;
  transition: all 0.5s;
}

#ease {
  color: red;
  margin-left: 18px;
}

#standatease {
  display: none;
}

#standatease_para {
  margin-top: 120px;
  margin-left: 70px;
  font-family: 'OpenSansLight', sans-serif;
  font-weight: 400;
  font-size: 20px;
  transition: all 1s;
  padding-right: 30px;
}

button {
  width: 200px;
  height: 60px;
  cursor: pointer;
  background: rgba(226, 0, 0, 0.7);
  border: 1px solid #b3b3b3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-family: 'OpenSans';
  color: white;
  font-size: 1.2rem;
  margin-top: 28px;
  margin-left: 60px;
}

#temp {
  margin-top: 400px;
}

/* .container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  scroll-snap-align: start;
} */

@media (max-width: 908px) {
  nav img {
    position: static;
    display: inline-block;
    width: 100px;
    margin-left: 38%;
    transition: all 2s;
  }

  nav svg {
    display: block;
    margin-top: 22px;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    top: 80px;
    left: -100%;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
  }

  #standat,
  #ease {
    margin-left: 0px;
    top: 50px;
    font-size: 48px;
    transition: all 0.5s;
  }
  #ease {
    margin-left: 9px;
  }

  #standatease_para {
    margin-top: 60px;
    margin-left: 62px;
    transition: all 1s;
    font-size: 14px;
  }

  #para_break1 {
    display: none;
  }

  button {
    width: 70px;
    height: 24px;
    margin-top: 14px;
    font-size: 0.7rem;
  }
}
