@font-face {
  src: url('./../fonts/OpenSans/OpenSansRegular400.ttf');
  font-family: 'OpenSans';
}

@font-face {
  src: url('./../fonts/OpenSans/OpenSansLight300.ttf');
  font-family: 'OpenSansLight';
}

@font-face {
  src: url('./../fonts/OpenSans/OpenSansBold700.ttf');
  font-family: 'OpenSansBold';
}

@font-face {
  src: url('./../fonts/OpenSans/OpenSansSemiBold600.ttf');
  font-family: 'OpenSansSemiBold';
}

@font-face {
  src: url('./../fonts/OpenSans/OpenSansExtraBold800.ttf');
  font-family: 'OpenSansExtraBold';
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'OpenSans', sans-serif;
  scroll-behavior: smooth;
}

nav img {
  margin-top: 10px;
  margin-left: 70px;
  transition: all 0.5s;
}

nav {
  /* position: fixed; */
  height: 40px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: grey;
  margin-left: 25px;
  text-transform: uppercase;
  font-size: 16px;
}

a.active,
a:hover {
  color: #e20000;
}

nav svg {
  width: 40px;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
  margin-right: 2%;
}

footer {
  font-family: 'OpenSans';
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
}

footer h2 {
  color: #e20000;
  margin-bottom: 6px;
}

.advisory h1 {
  margin-top: 80px;
  font-size: 24px;
  text-align: center;
}

.advisory h2 {
  font-family: 'OpenSans';
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  font-weight: normal;
}

mark {
  background: none;
  color: #e20000;
}

.advisory-board {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.box {
  width: 32%;
  margin-left: auto;
  margin-right: auto;
}

.box img {
  width: 150px;
  border-radius: 260px;
  margin-left: 32%;
  position: relative;
  top: 20px;
  box-shadow: 2px 3px 10px #888888;
}

.boundary {
  border: 1px solid #000;
  border-radius: 15px;
  padding: 30px;
}

.boundary h2 {
  margin-top: 6px;
  font-family: 'OpenSans';
  font-weight: 600;
  color: #e20000;
}

.boundary h3 {
  margin-top: 3px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.inner-boxes {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
}

.inner-boxes p {
  line-height: 2;
}

.section2 > h2 {
  font-size: 40px;
  font-family: 'OpenSans';
  position: absolute;
  top: 30px;
  left: 70px;
}

.line {
  background-color: #df0000;
  height: 2.7px;
  width: 54.6%;
}

.section2 {
  position: relative;
  margin-top: 50px;
  height: 90vh;
}

.section2 > .line {
  position: absolute;
  top: 94px;
}

.section2 {
  background-color: black;
  color: white;
}

.inner-container1,
.inner-container2 {
  display: flex;
  justify-content: center;
}

.inner-container1 img {
  margin-top: 160px;
  margin-left: 30px;
}
.inner-container2 img {
  margin-top: 30px;
  margin-left: 30px;
}

@media (max-width: 908px) {
  nav img {
    position: static;
    display: inline-block;
    width: 100px;
    margin-left: 38%;
  }

  nav svg {
    display: block;
    margin-top: 22px;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    top: 80px;
    left: -100%;
  }

  nav ul li {
    display: block;
  }
}
