@font-face {
  src: url('./../fonts/OpenSans/OpenSansRegular400.ttf');
  font-family: 'OpenSans';
}

@font-face {
  src: url('./../fonts/OpenSans/OpenSansLight300.ttf');
  font-family: 'OpenSansLight';
}

@font-face {
  src: url('./../fonts/OpenSans/OpenSansBold700.ttf');
  font-family: 'OpenSansBold';
}

@font-face {
  src: url('./../fonts/OpenSans/OpenSansSemiBold600.ttf');
  font-family: 'OpenSansSemiBold';
}

@font-face {
  src: url('./../fonts/OpenSans/OpenSansExtraBold800.ttf');
  font-family: 'OpenSansExtraBold';
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'OpenSans', sans-serif;
  scroll-behavior: smooth;
}

nav img {
  margin-top: 10px;
  margin-left: 70px;
  transition: all 0.5s;
}

nav {
  /* position: fixed; */
  height: 40px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
  transition: all 0.5s;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: grey;
  margin-left: 25px;
  text-transform: uppercase;
  font-size: 16px;
}

a.active,
a:hover {
  color: red;
  transition: 0.5s;
}

nav svg {
  width: 40px;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
  margin-right: 2%;
  transition: all 2s;
}

.section1 h1 {
  font-family: 'OpenSans';
  font-size: 20px;
  text-align: center;
  margin-top: 80px;
  font-weight: normal;
}

mark {
  background: none;
  color: red;
}

.advisory-board {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.box {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.box img {
  width: 150px;
  border-radius: 260px;
  margin-left: 32%;
}

.boundary {
  border: 1px solid #000;
  border-radius: 15px;
  padding: 30px;
}

@media (max-width: 908px) {
  nav img {
    position: static;
    display: inline-block;
    width: 100px;
    margin-left: 38%;
    transition: all 2s;
  }

  nav svg {
    display: block;
    margin-top: 22px;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    top: 80px;
    left: -100%;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
  }

  .advisory-board {
    flex-direction: column;
  }

  .box {
    width: 80%;
  }
}
