@font-face {
  src: url('./../fonts/OpenSans/OpenSansRegular400.ttf');
  font-family: 'OpenSans';
}

@font-face {
  src: url('./../fonts/OpenSans/OpenSansLight300.ttf');
  font-family: 'OpenSansLight';
}

@font-face {
  src: url('./../fonts/OpenSans/OpenSansBold700.ttf');
  font-family: 'OpenSansBold';
}

@font-face {
  src: url('./../fonts/OpenSans/OpenSansSemiBold600.ttf');
  font-family: 'OpenSansSemiBold';
}

@font-face {
  src: url('./../fonts/OpenSans/OpenSansExtraBold800.ttf');
  font-family: 'OpenSansExtraBold';
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'OpenSans', sans-serif;
  scroll-behavior: smooth;
}

.h_background {
  background-image: url('../assets/images/background.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: 190%;
}

nav img {
  margin-top: 10px;
  margin-left: 70px;
  transition: all 0.5s;
}

nav {
  /* position: fixed; */
  height: 40px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
  transition: all 0.5s;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: grey;
  margin-left: 25px;
  text-transform: uppercase;
  font-size: 16px;
}

a.active,
a:hover {
  color: #e20000;
  transition: 0.5s;
}

nav svg {
  width: 40px;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
  margin-right: 2%;
  transition: all 2s;
}

.section1 {
  height: 100vh;
}

#standat,
#ease {
  font-family: 'OpenSansExtraBold', sans-serif;
  font-weight: 800;
  font-size: 80px;
  display: inline-block;
  position: relative;
  top: 120px;
  left: 60px;
  transition: all 0.5s;
}

#ease {
  color: #e20000;
  margin-left: 18px;
}

#standatease {
  display: none;
}

#standatease_para {
  margin-top: 120px;
  margin-left: 70px;
  font-family: 'OpenSansLight', sans-serif;
  font-weight: 400;
  font-size: 18px;
  transition: all 1s;
  padding-right: 30px;
}

button {
  width: 200px;
  height: 60px;
  cursor: pointer;
  background: rgba(226, 0, 0, 0.7);
  border: 1px solid #b3b3b3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-family: 'OpenSans';
  color: white;
  font-size: 1.2rem;
  margin-top: 28px;
  margin-left: 60px;
}

#temp {
  margin-top: 400px;
}

.container {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section1,
.section2,
.section3,
.section4 {
  scroll-snap-align: start;
  font-family: 'OpenSans';
}

.section2 {
  background: white;
}

.section3,
.section4 {
  background: black;
}

/* first attempt for scrollbar */

body::-webkit-scrollbar {
  width: 0px;
}

main::-webkit-scrollbar {
  width: 16px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

main::-webkit-scrollbar-thumb {
  background-color: #eb2000;
  border-radius: 8px;
}

.section2,
.section3,
.section4 {
  position: relative;
  height: 100vh;
}

.line {
  background-color: #df0000;
  height: 2.7px;
  width: 50.6%;
}

.section2 > h2,
.section3 > h2,
.section4 > h2 {
  position: absolute;
  top: 20px;
  left: 72px;
  font-size: 40px;
}

.section3 > h2,
.section4 > h2 {
  color: white;
}

iframe {
  border-radius: 16px;
  margin-top: 100px;
}

.section2 section img {
  width: 320px;
}

.section2 > .line,
.section3 > .line,
.section4 > .line {
  position: absolute;
  top: 74px;
}

.inner-container {
  display: flex;
  position: absolute;
  top: 80px;
  align-items: center;
  left: 300px;
}

.inner-container2 {
  display: flex;
  position: absolute;
  top: 120px;
  align-items: center;
  left: 80px;
}

.inner-section-problem {
  /* margin-top: 100px; */
  line-height: 2.2;
  margin-right: 40px;
  text-align: right;
}

.inner-section-statement {
  margin-top: 80px;
  line-height: 3;
  color: white;
  margin-right: 80px;
}

.inner-section-goal {
  margin-bottom: 200px;
  line-height: 2.2;
  margin-left: 30px;
  position: relative;
  top: -120px;
}

.section4 {
  color: white;
}

.grid-container,
.grid-container2 {
  position: absolute;
  top: 100px;
  left: 0px;
  display: grid;
  background-color: aqua;
  grid-template-columns: 720px 720px;
}

.grid-container2 {
  top: 10px;
}

.grid-container img,
.grid-container2 img {
  margin-left: 250px;
  margin-top: 50px;
}

.grid-item-1 {
  background-color: white;
  height: 320px;
}

.grid-item-2 h2 {
  margin-top: 100px;
  margin-left: 50px;
}

.grid-item-2 p {
  margin-top: 20px;
  margin-left: 50px;
}

.grid-item-2 {
  background-color: black;
  height: 320px;
}

.grid-item-3 {
  background-color: #c83e3e;
  height: 320px;
  text-align: center;
}
.grid-item-3 p {
  margin-top: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

.grid-item-4 {
  background-color: white;
  height: 320px;
}

.grid-container2 > .grid-item-1,
.grid-container2 > .grid-item-2,
.grid-container2 > .grid-item-3,
.grid-container2 > .grid-item-4 {
  height: 260px;
}

.grid-container2 > .grid-item-2 > h2 {
  margin-top: 80px;
}

.grid-container2 > .grid-item-3 > p {
  margin-top: 120px;
}

@media (max-width: 908px) {
  nav img {
    position: static;
    display: inline-block;
    width: 100px;
    margin-left: 38%;
    transition: all 2s;
  }

  nav svg {
    display: block;
    margin-top: 22px;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    top: 80px;
    left: -100%;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
  }

  #standat,
  #ease {
    margin-left: 0px;
    top: 50px;
    font-size: 48px;
    transition: all 0.5s;
  }
  #ease {
    margin-left: 9px;
  }

  #standatease_para {
    margin-top: 60px;
    margin-left: 62px;
    transition: all 1s;
    font-size: 14px;
    text-align: center;
  }

  #para_break1 {
    display: none;
  }

  button {
    width: 70px;
    height: 24px;
    margin-top: 14px;
    font-size: 0.7rem;
  }
}
